.accountTable {
  tbody {
    tr {
      td {
        border-right: 0.5px solid #ccc;
        &:last-child {
          border-right: none;
        }
      }

      position: relative;
      &:hover {
        .accountAction {
          display: flex;
        }
      }
      .accountAction {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &-btn {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 1rem;
          &:hover {
            background: rgb(199, 195, 195);
          }
        }
        .edit {
          color: blue;
        }

        .remove {
          color: tomato;
        }
      }
    }
  }

  .empty {
    height: 22.5rem;
    background: #f8f9fa;

    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    line-height: 22.5rem;
  }

  input {
    outline: none;
    border: 1px solid #ccc;
    width: 80%;
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.4rem;
  }
}
