.breadcrumb {
  height: 2.8rem;
  margin: 0;
  overflow: hidden;
  &-item {
    width: 100px;
    height: 100%;
    position: relative;
    background: #627483;
    .triangle {
      // using clip-path
      display: block;
      height: 2.8rem;
      width: 2.8rem;
      background-color: inherit;
      border: inherit;
      position: absolute;
      top: 0;
      right: -1.4rem;

      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(-135deg);
      border-radius: 0 0 0 0.25em;
    }
  }
}
